In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
import nltk
import string
import re
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory

In [28]:
df = pd.read_csv('Dataset_Kinerja.csv', encoding='unicode_escape')

In [30]:
df.head(5)

,Unnamed: 0,id,created_at,text
0,0,1616582035375808513,2023-01-20 23:42:46+00:00,RT @JoensMr: @ch_chotimah2 @aniesbaswedan @abu...
1,1,1616553039133052929,2023-01-20 21:47:33+00:00,RT @HumasPolsekWat1: Repost@ Divisi Humas Polr...
2,2,1616552695195918336,2023-01-20 21:46:11+00:00,Repost@ Divisi Humas Polri\nKetua Harian Kompo...
3,3,1616468807496921088,2023-01-20 16:12:50+00:00,@ch_chotimah2 @aniesbaswedan @abu_waras @rahma...
4,4,1616446070153957379,2023-01-20 14:42:29+00:00,@jokowi Kinerja kepolisian blm menunjukan pres...

In [41]:
print('Dataset size:',df.shape)
print('Columns are:',df.columns)

Dataset size: (327, 4)
Columns are: Index(['Unnamed: 0', 'id', 'created_at', 'text'], dtype='object')

In [43]:
df = df.drop('Unnamed: 0',axis=1)

In [44]:
df.head(5)

,id,created_at,text
0,1616582035375808513,2023-01-20 23:42:46+00:00,RT @JoensMr: @ch_chotimah2 @aniesbaswedan @abu...
1,1616553039133052929,2023-01-20 21:47:33+00:00,RT @HumasPolsekWat1: Repost@ Divisi Humas Polr...
2,1616552695195918336,2023-01-20 21:46:11+00:00,Repost@ Divisi Humas Polri\nKetua Harian Kompo...
3,1616468807496921088,2023-01-20 16:12:50+00:00,@ch_chotimah2 @aniesbaswedan @abu_waras @rahma...
4,1616446070153957379,2023-01-20 14:42:29+00:00,@jokowi Kinerja kepolisian blm menunjukan pres...

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327 entries, 0 to 326
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          327 non-null    int64
 1   created_at  327 non-null    object
 2   text        327 non-null    object
dtypes: int64(1), object(2)
memory usage: 7.8+ KB

In [49]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [50]:
def remove_punct(text):
    text = re.sub(r'[^a-zA-Z0-9]', ' ', str(text))
    text = re.sub(r'\b\w(1,2)\b', '', text)
    text = re.sub(r'\s\s+',' ', text)
    text = re.sub(r'[@]',r' ', text)
    return text
df['TEXT'] = df['text'].apply(lambda x: remove_punct(x))

In [51]:
df.head(5)

,id,created_at,text,TEXT
0,1616582035375808513,2023-01-20 23:42:46+00:00,RT @JoensMr: @ch_chotimah2 @aniesbaswedan @abu...,RT JoensMr ch chotimah2 aniesbaswedan abu wara...
1,1616553039133052929,2023-01-20 21:47:33+00:00,RT @HumasPolsekWat1: Repost@ Divisi Humas Polr...,RT HumasPolsekWat1 Repost Divisi Humas Polri K...
2,1616552695195918336,2023-01-20 21:46:11+00:00,Repost@ Divisi Humas Polri\nKetua Harian Kompo...,Repost Divisi Humas Polri Ketua Harian Kompoln...
3,1616468807496921088,2023-01-20 16:12:50+00:00,@ch_chotimah2 @aniesbaswedan @abu_waras @rahma...,ch chotimah2 aniesbaswedan abu waras rahmania...
4,1616446070153957379,2023-01-20 14:42:29+00:00,@jokowi Kinerja kepolisian blm menunjukan pres...,jokowi Kinerja kepolisian blm menunjukan pres...

In [53]:
def tokenization(text):
    text = re.split('\W+', text)
    return text
df['TOKENISASI'] = df['TEXT'].apply(lambda x: tokenization(x.lower()))

In [54]:
df.head(5)

,id,created_at,text,TEXT,TOKENISASI
0,1616582035375808513,2023-01-20 23:42:46+00:00,RT @JoensMr: @ch_chotimah2 @aniesbaswedan @abu...,RT JoensMr ch chotimah2 aniesbaswedan abu wara...,"[rt, joensmr, ch, chotimah2, aniesbaswedan, ab..."
1,1616553039133052929,2023-01-20 21:47:33+00:00,RT @HumasPolsekWat1: Repost@ Divisi Humas Polr...,RT HumasPolsekWat1 Repost Divisi Humas Polri K...,"[rt, humaspolsekwat1, repost, divisi, humas, p..."
2,1616552695195918336,2023-01-20 21:46:11+00:00,Repost@ Divisi Humas Polri\nKetua Harian Kompo...,Repost Divisi Humas Polri Ketua Harian Kompoln...,"[repost, divisi, humas, polri, ketua, harian, ..."
3,1616468807496921088,2023-01-20 16:12:50+00:00,@ch_chotimah2 @aniesbaswedan @abu_waras @rahma...,ch chotimah2 aniesbaswedan abu waras rahmania...,"[, ch, chotimah2, aniesbaswedan, abu, waras, r..."
4,1616446070153957379,2023-01-20 14:42:29+00:00,@jokowi Kinerja kepolisian blm menunjukan pres...,jokowi Kinerja kepolisian blm menunjukan pres...,"[, jokowi, kinerja, kepolisian, blm, menunjuka..."

In [55]:
stopword = nltk.corpus.stopwords.words('indonesian')

def remove_stopwords(text):
    text = [word for word in text if word not in stopword]
    return text
df['STOP_REMOVAL'] = df['TOKENISASI'].apply(lambda x: remove_stopwords(x))

In [56]:
df.head(5)

,id,created_at,text,TEXT,TOKENISASI,STOP_REMOVAL
0,1616582035375808513,2023-01-20 23:42:46+00:00,RT @JoensMr: @ch_chotimah2 @aniesbaswedan @abu...,RT JoensMr ch chotimah2 aniesbaswedan abu wara...,"[rt, joensmr, ch, chotimah2, aniesbaswedan, ab...","[rt, joensmr, ch, chotimah2, aniesbaswedan, ab..."
1,1616553039133052929,2023-01-20 21:47:33+00:00,RT @HumasPolsekWat1: Repost@ Divisi Humas Polr...,RT HumasPolsekWat1 Repost Divisi Humas Polri K...,"[rt, humaspolsekwat1, repost, divisi, humas, p...","[rt, humaspolsekwat1, repost, divisi, humas, p..."
2,1616552695195918336,2023-01-20 21:46:11+00:00,Repost@ Divisi Humas Polri\nKetua Harian Kompo...,Repost Divisi Humas Polri Ketua Harian Kompoln...,"[repost, divisi, humas, polri, ketua, harian, ...","[repost, divisi, humas, polri, ketua, harian, ..."
3,1616468807496921088,2023-01-20 16:12:50+00:00,@ch_chotimah2 @aniesbaswedan @abu_waras @rahma...,ch chotimah2 aniesbaswedan abu waras rahmania...,"[, ch, chotimah2, aniesbaswedan, abu, waras, r...","[, ch, chotimah2, aniesbaswedan, abu, waras, r..."
4,1616446070153957379,2023-01-20 14:42:29+00:00,@jokowi Kinerja kepolisian blm menunjukan pres...,jokowi Kinerja kepolisian blm menunjukan pres...,"[, jokowi, kinerja, kepolisian, blm, menunjuka...","[, jokowi, kinerja, kepolisian, blm, menunjuka..."

In [57]:
df['text'] = df['TEXT'].str.lower()

In [58]:
df.head(5)

,id,created_at,text,TEXT,TOKENISASI,STOP_REMOVAL
0,1616582035375808513,2023-01-20 23:42:46+00:00,rt joensmr ch chotimah2 aniesbaswedan abu wara...,RT JoensMr ch chotimah2 aniesbaswedan abu wara...,"[rt, joensmr, ch, chotimah2, aniesbaswedan, ab...","[rt, joensmr, ch, chotimah2, aniesbaswedan, ab..."
1,1616553039133052929,2023-01-20 21:47:33+00:00,rt humaspolsekwat1 repost divisi humas polri k...,RT HumasPolsekWat1 Repost Divisi Humas Polri K...,"[rt, humaspolsekwat1, repost, divisi, humas, p...","[rt, humaspolsekwat1, repost, divisi, humas, p..."
2,1616552695195918336,2023-01-20 21:46:11+00:00,repost divisi humas polri ketua harian kompoln...,Repost Divisi Humas Polri Ketua Harian Kompoln...,"[repost, divisi, humas, polri, ketua, harian, ...","[repost, divisi, humas, polri, ketua, harian, ..."
3,1616468807496921088,2023-01-20 16:12:50+00:00,ch chotimah2 aniesbaswedan abu waras rahmania...,ch chotimah2 aniesbaswedan abu waras rahmania...,"[, ch, chotimah2, aniesbaswedan, abu, waras, r...","[, ch, chotimah2, aniesbaswedan, abu, waras, r..."
4,1616446070153957379,2023-01-20 14:42:29+00:00,jokowi kinerja kepolisian blm menunjukan pres...,jokowi Kinerja kepolisian blm menunjukan pres...,"[, jokowi, kinerja, kepolisian, blm, menunjuka...","[, jokowi, kinerja, kepolisian, blm, menunjuka..."

In [59]:
stop_removal = df[['STOP_REMOVAL']]

def fit_stopwords(text):
    text = np.array(text)
    text = ' '.join(text)
    return text

df['STOP_REMOVAL'] = df['STOP_REMOVAL'].apply(lambda x: fit_stopwords(x))

In [60]:
df.head(5)

,id,created_at,text,TEXT,TOKENISASI,STOP_REMOVAL
0,1616582035375808513,2023-01-20 23:42:46+00:00,rt joensmr ch chotimah2 aniesbaswedan abu wara...,RT JoensMr ch chotimah2 aniesbaswedan abu wara...,"[rt, joensmr, ch, chotimah2, aniesbaswedan, ab...",rt joensmr ch chotimah2 aniesbaswedan abu wara...
1,1616553039133052929,2023-01-20 21:47:33+00:00,rt humaspolsekwat1 repost divisi humas polri k...,RT HumasPolsekWat1 Repost Divisi Humas Polri K...,"[rt, humaspolsekwat1, repost, divisi, humas, p...",rt humaspolsekwat1 repost divisi humas polri k...
2,1616552695195918336,2023-01-20 21:46:11+00:00,repost divisi humas polri ketua harian kompoln...,Repost Divisi Humas Polri Ketua Harian Kompoln...,"[repost, divisi, humas, polri, ketua, harian, ...",repost divisi humas polri ketua harian kompoln...
3,1616468807496921088,2023-01-20 16:12:50+00:00,ch chotimah2 aniesbaswedan abu waras rahmania...,ch chotimah2 aniesbaswedan abu waras rahmania...,"[, ch, chotimah2, aniesbaswedan, abu, waras, r...",ch chotimah2 aniesbaswedan abu waras rahmania...
4,1616446070153957379,2023-01-20 14:42:29+00:00,jokowi kinerja kepolisian blm menunjukan pres...,jokowi Kinerja kepolisian blm menunjukan pres...,"[, jokowi, kinerja, kepolisian, blm, menunjuka...",jokowi kinerja kepolisian blm menunjukan pres...

In [62]:
df.to_csv('DATASET_PREPROCESSING.csv')